@use "sass:map";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
// Para colores usar el @use para usar map.merge solo usamos el import normal cuando queremos sobreescribir las utilidades de bootstrap

$color-elegido: rgb(0, 255, 238);

$theme-colors: map.merge(
    $theme-colors, (
        "brand": $color-elegido
    )
);

$brand-text-emphasis: shade-color($color-elegido, 60%);
$brand-bg-subtle: tint-color($color-elegido, 80%);
$brand-border-subtle: tint-color($color-elegido, 60%);

// ahora importo los mapas de bootstrap
@import "../node_modules/bootstrap/scss/maps";

$theme-colors-text: map.merge(
    $theme-colors-text, (
        "brand": $brand-text-emphasis
        )
);

$theme-colors-bg-subtle: map.merge(
    $theme-colors-bg-subtle,(
        "brand": $brand-bg-subtle
    )
);

$theme-colors-border-subtle: map.merge(
    $theme-colors-border-subtle,(
        "brand": $brand-border-subtle
    )
);

$brand-utilities-text-emphasis-colors: (
    "brand-emphasis": $brand-text-emphasis
);
$utilities-text-emphasis-colors: map.merge($utilities-text-emphasis-colors, $brand-utilities-text-emphasis-colors);

$brand-utilities-bg-subtle: (
    "brand-subtle": $brand-bg-subtle
);
$utilities-bg-subtle: map.merge($utilities-bg-subtle, $brand-utilities-bg-subtle);

$brand-utilities-border-subtle: (
    "brand-subtle": $brand-border-subtle
);
$utilities-border-subtle: map.merge($utilities-border-subtle, $brand-utilities-border-subtle);


@import "../node_modules/bootstrap/scss/bootstrap";